.custom-spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(178, 34, 34, 0.2);
    border-top: 4px solid #B22222;
    border-radius: 50%;
    margin: 0 auto;
}

body {
    margin: 0;
    font-family: 'Inter', system-ui;
    /* overflow: hidden; */
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #B22222;
    color: white;
    padding: 15px;
    font-size: 28px;
}


button.dark-light,
button.github {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 28px;
}

button.dark-light:hover,
button.github:hover, button.remove:hover {
    transform: scale(1.2);
}

.main {
    /* display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(300px, 4fr); */
    display: flex;
    flex-wrap: wrap;
}

.left-pane {
    display: flex;
    flex-direction: column;
    flex: 1 1 18%;
    gap: 11px;
    padding: 15px;
    background-color: #F9F9F9;
    /* height: 100vh; */
    /* min-width: 0; */
    /* min-width: 200px; */
}

.library {
    display: flex;
    flex-direction: column;
    flex: 1 1 80%;
}

#reason,
.add-new-dnf {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.add-new-dnf.flex-row {
    flex-direction: row;
    gap: 25px;
}

.add-new-dnf.flex-row input {
    width: 100%;
    box-sizing: border-box;
}

.add-new-dnf>.col-1,
.add-new-dnf>.col-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.label {
    color: #666666;
    font-size: 12px;
    font-weight: 500;
    /* padding-top: ; */
}

#totalDNF {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #E5E5E5;
    border-radius: 6px;
    padding: 10px;
}

#reason>#flex-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

progress {
    width: 100%;
    margin: 0;
    padding: 0;
}

input[type='text'],
input[type='number'],
select {
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    font-family: 'Inter', system-ui;
    box-sizing: border-box;
    /* border-radius: 8px; */
    /* width: 100%; */
}

input#author,
#title,
#total-pages,
#pages-read {
    height: 30px;
}

select {
    height: 30px;
}

button#add {
    background-color: #B22222;
    font-family: 'Inter', system-ui;
    font-size: 14px;
    color: white;
    height: 30px;
    border: none;
    border-radius: 6px;
}

button.remove{
    border: none;
    background-color: white;
    color: #E5E5E5;
}

button.remove:hover{
    color:#B22222;
}

button#add:hover {
    transform: scale(1.02);
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    flex-wrap: wrap;
    gap: 2px;
}

/* .top>.left{
    display: flex;
    flex: 1 1 80%;
}

.top>.right{
    display: flex;
    flex: 1 1 20%;
} */

select#filter-dropdown {
    width: 100px;
    background-color: #E5E5E5;
}

.heading {
    font-weight: 600;
    font-size: 19px;
    color: #000000;
}

hr {
    border-color: #E5E5E5;
    border-style: groove;
    margin: 0px 15px;
}

#books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
    align-items: start;
    padding: 15px;
}

.card{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    /* gap: 8px; */
}

.card-top {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    /* border-left: 8px solid #f0b429; */ 
    /* height: fit-content; */
    padding: 10px 5px 10px 10px;
    gap: 15px;
    /* height: 200px; */
    /* width: 100px; */
}

.card-bottom{
    height: 17px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* line-height: 0;
    font-size: 0;
    overflow: hidden; */
}

span {
    font-family: 'Inter', system-ui;
    color: #666666;
}

.book-summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
}

.book-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.book-title {
    font-size: 14px;
    font-weight: 700;
    color: #111827;
}

.author {
    font-size: 13px;
    font-weight: 400;
    color: #666666;
}

.percent-text {
    font-size: 11px;
    font-weight: 400;
    color: #666666;
}

.percent-pg-bar {
    height: 10px;
    margin: 0;
    padding: 0;
    /* border: 0; */
}

/* .percent-pg-bar::-webkit-progress-bar {
    background-color: #e0e0e0;
    border-radius: 0;
    overflow: hidden;
}

.percent-pg-bar::-webkit-progress-value {
    border-radius: 0;
} */

.dnf-reason {
    font-size: 11px;
    font-weight: 600;
    border-radius: 20px;
    border: 2px solid #E5E5E5;
    padding: 1px 6px;
    /* color: rgba(165, 42, 42, 0.14); */
}

dialog {
  border: none;
  border-radius: 12px;
  padding: 25px;
  max-width: 400px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background: white;
  font-family: 'Inter', sans-serif;
}

h3{
    margin-top: 0;
    padding-top: 0;
    color: #111827;
}


.dialog-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

button#dialog-confirm, button#dialog-cancel {
  padding: 10px 26px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

button#dialog-confirm{
    background-color:#B22222;
  color: white;
}

button#dialog-cancel{
    background-color: #F3F4F6;
  color: #374151;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.7);
}